.login-form-container {
    display: flex;
    flex-direction: column;
    height: 40%;
    align-self: center;
    width: max-content;
    margin: 40px auto;
    font-family: "Segoe UI", sans-serif;
    padding: 25px 28px;
    background: white;
    border-radius: 4px;
    border: 1px solid rgba(224, 224, 224, 1);
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.login-form-container h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.4);
}
.login-input-parent {
    display: block;
    margin-bottom: 20px;
}
.login-input-parent label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.4);
}
.login-input-parent input {
    padding: 10px 8px;
    width: 100%;
    font-size: 16px;
    background: #323131;
    border: none;
    color: #c7c7c7;
    border-radius: 4px;
    outline: none;
    transition: all 0.2s ease;
}
.login-input-parent input:hover {
    background: #404040;
}
.login-input-parent input:focus {
    box-shadow: 0px 0px 0px 1px #0087ff;
}
.login-button{
    padding: 10px 18px;
    font-size: 15px;
    background-color: rgb(25, 118, 210);
    width: 100%;
    border: none;
    border-radius: 4px;
    color: #f4f4f4;
    transition: all 0.2s ease;
}
.login-button:hover {
    opacity: 0.9;
}
.login-button:focus {
    box-shadow: 0px 0px 0px 3px black;
}