.landing-page-container{
    width: 100%;
}
.services-section {
    /* background-color: #f5fcff; */
    font-family: 'Proxima Nova';
    padding-bottom: 100px;
}

.list-of-work-section-inner {
    padding: 0 20px
}

.service-more {
    position: absolute;
    padding-bottom: 5%;
    bottom: 0;
    color: #0b87d7;
    font-weight: 300;
}

.services-list {
    display: flex;
    min-width: 0;
    max-width: 1140px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 20px auto 0;
    list-style-type: none
}

.services-list-item {
    flex: 0 0 33%;
    padding: 15px
}

.services-list-container {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 5px rgba(81,169,225,.2),0 3px 14px rgba(81,169,225,.12),0 8px 10px rgba(81,169,225,.14);
    color: #141414;
    transition: box-shadow .2s;
    background-color: white;
}

.services-list-container:active,.services-list-container:hover {
    box-shadow: 0 11px 15px rgba(81,169,225,.2),0 9px 46px rgba(81,169,225,.12),0 24px 40px rgba(81,169,225,.14);
    color: #141414
}

.services-list-title {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}

.services-list-description {
    margin-bottom: 30px;
    line-height: 30px;
}

.services-title {
    padding-top: 100px;
    text-align: center;
    font-weight: 600;
}

.service-slogen{
    text-align: center;
    margin-top: 10px;
}

.services-section p {
    text-align: center;
    margin: 15px auto 30px;
    max-width: 800px;
    font-size: large;
}

.services-button {
    background-color: #fff;
    color: #222;
    border-radius: 4px;
    font-size: 1rem;
    letter-spacing: 2px;
    text-align: center;
    border: 1.3px solid #77bce8;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

.service-button-container{
    text-align: center;
}

.services-button:hover {
    background-color: #77bce8;
    color: #fff;
}