@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container{
    position: fixed;
    z-index: 100;
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding: 20px;
    background-color: #103654;
    color: #fff;
    gap: 30px;
    font-family: 'Proxima Nova';
    line-height: 1.25;
	font-weight: 200;
    height: 55px;
}

.nav-links a {
    color: #fff;
}

.nav-links a:hover {
    transition: 0.5s ease;
    color: #ff9c00;
}

.logo {
    font-size: 32px;
}

.landing-page-menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.landing-page-menu li:hover {
    /* background-color: #51A9E1;
    border-radius: 5px; */
    transition: 1s ease;
    text-decoration: underline;
    text-decoration-color: #ff9c00;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;    
    /* transition: color .12s linear,background-color .12s linear,border-color .12s linear; */
}

.landing-page-menu li {
    padding: 5px 14px;
}

.services {
    position: relative; 
}

.dropdown {
    background-color: #b6b9ba;
    padding: 1em 0;
    position: absolute;
    display: none;
    /* border-radius: 8px; */
    width: auto;
    z-index: 1;
}

.dropdown li + li {
    margin-top: 20px;
}

.dropdown li {
    padding: 0.5em 1em 1em 1em;
    width: 8em;
    text-align: center;
}

.dropdown li:hover {
    background-color: #51A9E1;
}

.services:hover .dropdown {
    display: block;
}

input[type=checkbox]{
display: none;
} 

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

@media (max-width: 768px) {
    .landing-page-menu { 
        display:none;
        position: absolute;
        background-color:#51A9E1;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        z-index: 10;
        color: #92C9EC;
    }

    .landing-page-menu li:hover {
        display: inline-block;
        transition: 0.3s ease;
    }

    .landing-page-menu li + li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked ~ .landing-page-menu{
        display: block;
    }

    .hamburger {
        display: block;
    }

    .dropdown {
        left: 50%;
        top: 0;
        transform: translateX(35%);
        position: absolute;
    }

    .dropdown li:hover {
        background-color: #51A9E1;
    }
}

.navbar-button-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

.sign-in-btn {
    padding: 10px 20px;
    /* background-color:rgb(33 116 234); */
    color: #222;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.sign-in-btn:hover {
    background-color:rgb(29 78 216);
    background-color:rgb(33 116 234);
    color: #fff;
}