.task-container{


    background-color: white;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    padding: 16px;
    border-radius: 4px;

}

/*html{*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    height: 100%;*/
/*}*/
.task-list-wrapper{
    min-width: 1900px; /* sets the minimum width of the body element */
    margin: 0 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 200px;


}
/*.task-container {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    overflow: auto;*/
/*    cursor: pointer;*/
/*}*/


/*.task-container div{*/
/*    width: 85%;*/
/*}*/

.task-item{
    justify-content: center;
    cursor: pointer;
}


.delete-message{
    font-family: 'Proxima Nova';
    font-weight: 400;
    color: #dc3545
}

.success-message{
    font-family: 'Proxima Nova';
    font-weight: 400;
    color: green;
    padding-right: 30px;
    margin-top: 20px;
}

.close-button-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    column-gap: 100px;
    gap: 100px;
}

.close-button {
    display: flex;
    background-color: transparent;
    border: none;
    font-size: 2.5rem;
}

.close-button:focus,
.close-button:hover {
    color: #dc3545;
    text-decoration: none;
    cursor: pointer;
}
.add-task-form-container {
    position: fixed;
    width: 100%;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    margin-bottom: 1.5rem;
    background-color: #fff;
    padding: 1.5rem;
    z-index: 1;
    margin-top: 65px;
}

.add-task-form {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0.5rem;
}

.add-task-input {
    width: 100%;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    padding: 0.5rem;
}

.task-submit-button
{
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    background-color: #007bff;
    border: 1px solid #007bff;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
}

/*.search-container {*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*}*/

/*.search-container input{*/
/*    width: 300px;*/
/*}*/

.add-new-container {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    color: rgba(0, 0, 0, 0.87);
    background-color: white;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    position: fixed;
    width: 70px;
    right: 0; /* Position the container to the right */
    transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, margin-left 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    margin-top: 80px;
    cursor: pointer;
}

.add-new-container:hover {
    width: 280px;
}

.add-new-button{
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    padding: 8px;
    color: rgba(0, 0, 0, 0.54);
}

.add-new-button-icon{
    width: 1em;
    height: 1em;
    display: flex;
    fill: currentColor;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 2.5rem;
    align-items: center;
}

.minimize-add-new {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    gap:30px;
    padding-left:8px;
    padding-right: 8px;
    font-size: 20px;
    font-weight: 300;
}



table{
    padding: 40px;
}


th{
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    text-align: left;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 0.9rem;
    line-height: 1.5rem;
    letter-spacing: 0.01071em;
    display: table-cell;
    vertical-align: inherit;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    color: rgba(0, 0, 0, 0.87);
}

.header-title{
    border-left: 3px solid rgba(0, 0, 0, 0.15);
    padding-left: 10px;
}


td{
    padding: 8px;
    padding-right: 5em;
    padding-left: 1em;
    width: 100px; /* set a fixed width for all cells */
    white-space: nowrap; /* prevent text from wrapping to a new line */
    overflow: hidden; /* hide any text that overflows the cell */
    text-overflow: ellipsis;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
}

td:last-child{
    padding-right: 1em;
}



td:nth-child(2){
    max-width: 400px;
}


table{
    border-collapse: separate;
    border-spacing: 0 0.2em;
}

