.task-content{
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 40px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    color: #141414;
    transition: box-shadow .2s;
    background-color: white;
    gap: 200px;
}

.task-content p {
    font-family: 'Proxima Nova';
    font-size: 20px;
    font-weight: 300;
    white-space: nowrap;
    max-width: 100px;
}

.task-content h2 {
    font-family: 'Proxima Nova';
    font-size: 25px;
}
/*.task-content h2 {*/
/*    font-family: 'Proxima Nova';*/
/*    font-size: 25px;*/
/*}*/

.task-content:active,.task-content:hover {
    box-shadow: 0 11px 15px rgba(81,169,225,.2),0 9px 46px rgba(81,169,225,.12),0 24px 40px rgba(81,169,225,.14);
    color: #141414
}

.task-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.task-button-container button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    white-space: nowrap;
}
